@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__contenedor, .mainT__fotosFacial, .continer, .gridMaqui {
  background-color: white;
  border: 3px solid black;
}

.main__contenedor {
  width: 50%;
}

.mainT__fotosFacial {
  width: 915px;
}

.continer {
  width: 80%;
}

.gridMaqui {
  width: 1000px;
}

.navbar {
  background-color: white;
  color: black;
  font-family: 'Bebas Neue', cursive;
}

.navbar .navbar-collapse {
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
  font-size: 1.3rem;
}

.navbar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: auto;
}

.main .main__ppalDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Heebo', sans-serif;
  font-size: xxx-large;
  -webkit-animation: mi-animacion 2s linear 3s;
          animation: mi-animacion 2s linear 3s;
}

@-webkit-keyframes mi-animacion {
  0% {
    font-size: larger;
    font-style: bold;
  }
  50% {
    font-size: xxx-large;
  }
  100% {
    font-size: xxxx-large;
    font-style: bold;
  }
}

@keyframes mi-animacion {
  0% {
    font-size: larger;
    font-style: bold;
  }
  50% {
    font-size: xxx-large;
  }
  100% {
    font-size: xxxx-large;
    font-style: bold;
  }
}

.main .main__contenedor {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr;
      grid-template-columns: 2fr;
      grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  justify-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main .main__presentacionDiv {
  font-family: 'Heebo', sans-serif;
  width: 215px;
  height: 280px;
  text-align: center;
  font-size: 1.6rem;
  margin: 30px;
  padding: 10px auto 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__muestras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px;
}

.main .main__muestrasFoto {
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  padding: 40px;
}

.carousel {
  height: 200px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 50px;
}

.footer {
  background-color: white;
  width: auto;
  height: 200px;
  padding: 200px;
}

.footer .footer__redes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer .footer__agusM {
  text-align: center;
  font-size: 1.2rem;
}

.mainT .mainT__fotosFacial {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.mainT .mainT__facial {
  width: 200px;
}

.mainT .mainT__tiposFaciales {
  background-color: white;
  width: 500px;
  margin: 100px auto;
  padding: 100px auto;
  list-style-type: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  border-radius: 80px;
  font-family: 'Heebo', sans-serif;
  font-size: larger;
  -webkit-transition: all 1ms;
  transition: all 1ms;
}

.mainT .mainT__tiposFaciales:hover {
  height: 400px;
  width: 400px;
  border-radius: 100px;
}

.mainT .mainT__imagenesFaciales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Heebo', sans-serif;
  font-size: xx-large;
  padding: 5px;
  margin: 5px;
}

.main,
.mainT {
  background-color: white;
}

.makeUp,
.gale,
.contactoTit,
.presentacionDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Heebo', sans-serif;
  font-size: xx-large;
  padding: 5px;
  margin: 5px;
}

.pestañasTit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Heebo', sans-serif;
  margin: auto;
  font-size: x-large;
}

.tipos {
  background-color: white;
  width: 920px;
  font-family: 'Heebo', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px;
      grid-template-columns: 100px 100px;
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  gap: 350px;
  margin: auto auto 100px auto;
  border: 3px solid black;
  padding: 10px;
}

.rounded {
  width: 400px;
  margin: auto 20px;
}

.continer {
  padding: 20px;
  margin: auto auto 100px auto;
}

.textoPestañas {
  background-color: #918f8d;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 240px;
  text-align: center;
  font-size: larger;
  margin: 5px;
}

.foto {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gridMaqui {
  gap: 50px;
  margin: auto auto 10px auto;
  padding: 20px;
  font-family: 'Heebo', sans-serif;
  font-size: larger;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maqui {
  width: 200px;
}

.tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.promo {
  font-family: 'Heebo', sans-serif;
  font-size: x-large;
  width: 400px;
  margin: auto;
}

.mb-3 {
  width: 400px;
}

.contForm {
  background-color: #858585;
  width: 450px;
  margin: auto auto 100px auto;
  text-align: left;
}

.carousel-inner {
  width: 500px;
  height: 600px;
  margin: auto;
}

@media (min-width: 992px) {
  .main__contenedor {
    border: 4px solid #292828;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .continer {
    border: 4px solid #292828;
  }
  .textoPestañas {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main__muestrasFoto {
    width: 300px;
    border: 1px dotted black;
  }
  .mainT__fotosFacial {
    border: 4px solid #292828;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .main__contenedor {
    border: 4px solid black;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .rounded.float-start,
  .rounded.float-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .main__muestras {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 100px;
        grid-template-columns: 100px 100px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 10px;
    padding: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainT__fotosFacial {
    width: 240px;
  }
  .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .textoPestañas {
    height: auto;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 11px;
  }
  .main__ppalDiv {
    padding: 30px;
  }
  .main__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    width: 300px;
  }
  .textoPestañas {
    height: auto;
  }
  .rounded.float-start,
  .rounded.float-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .main__muestras {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    padding-left: 70px;
    gap: 8px;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .mainT__fotosFacial {
    width: 250px;
    display: block;
  }
  .foto {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .tiposFaciales {
    width: 250px;
  }
  .gridMaqui {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    gap: 5px;
    padding: 3px;
  }
}
