$estilos: (
    color: black,
    font: white,
    text: 5rem,
)

.footer {
    background-color: map-get($estilos, color);
    color: map-get($estilos, font);
    font-size: map-get($estilos, text);
    width: auto;
    height: 20px;
    padding: 200px;
    position: sticky;

}