* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "vars";
@import "extend";
@import "map";

body {
    background-color: #ADA996;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
    & {
        background-color: #696969;
        color: black;
        font-family: 'Bebas Neue', cursive;
    }

    .navbar-collapse {
        flex-grow: initial;
        font-size: 1.3rem;
    }

    ul {
        li {
            display: flex;
            list-style-type: none;
            justify-content: center;
            padding: 10px;
            margin: auto;
        }
    }
}

.main {
    & &__ppalDiv {
        display: flex;
        justify-content: center;
        font-family: 'Amatic SC', cursive;
        font-size: xxx-large;
        animation: mi-animacion 2s linear 3s;
    }

    @keyframes mi-animacion {
        0% {
            font-size: larger;
            font-style: bold;
        }

        50% {
            font-size: xxx-large;
        }

        100% {
            font-size: xxxx-large;
            font-style: bold;
        }
    }

    & &__contenedor {
        margin: auto;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer";
        justify-items: center;
        align-items: stretch;
    }

    & &__foto {
        display: grid;
        width: 300px;
        margin: 10px;
        padding: auto;
        border: 1px dotted black;
    }

    & &__presentacionDiv {
        background-color: rgb(230, 224, 224);
        font-family: 'Amatic SC', cursive;
        width: 300px;
        height: 300px;
        text-align: justify;
        font-size: 2rem;
        margin: 10px;
        padding: auto;
        border: 1px dotted black;
        align-items: center;
    }

    & &__muestras {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }

    & &__muestrasFoto {
        width: 300px;
        align-items: center;
    }
}

.footer {
    background-color: dimgrey;
    width: auto;
    height: 200px;

    & &__redes {
        display: inline-flex;
        list-style-type: none;
        display: flex;
    justify-content: center;
    }

    & &__agusM {
        text-align: center;
    }
}

.mainT {
    & &__fotosFacial {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        margin: auto;
        justify-content: space-between;
        padding: 20px;
    }

    & &__facial {
        width: 200px;
    }

    & &__tiposFaciales {
        background-color: $colorPrincipal;
        width: 500px;
        margin: 100px auto;
        padding: 100px auto;
        list-style-type: none;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        border-radius: 80px;
        font-family: 'Amatic SC', cursive;
        font-size: larger;
        transition: all 1ms;
    }

    & &__tiposFaciales:hover {
        height: 400px;
        width: 400px;
        border-radius: 100px;
    }

    & &__imagenesFaciales {
        display: flex;
        justify-content: center;
        font-family: 'Amatic SC', cursive;
        font-size: xx-large;
        padding: 5px;
        margin: 5px;
    }
}

.makeUp,
.gale,
.contactoTit,
.presentacionDiv {
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    padding: 5px;
    margin: 5px;
}

.pestañasTit {
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    margin: auto;
    font-size: x-large;
}

.tipos {
    background-color: $colorPrincipal;
    width: 920px;
    font-family: 'Amatic SC', cursive;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 350px;
    margin: auto auto 100px auto;
    border: $borderBox;
    padding: 10px;
}

.rounded {
    width: 400px;
    margin: auto 20px;
}

.continer {
    padding: 20px;
    margin: auto auto 100px auto;
}

.textoPestañas {
    background-color: rgb(145, 143, 141);
    width: fit-content;
    height: 120px;
    text-align: center;
    font-size: larger;
    margin: 10px;
}

.gridMaqui {
    gap: 50px;
    margin: auto auto 10px auto;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maqui {
    width: 200px;
}

.tit {
    display: flex;
    justify-content: center;
}

.promo {
    font-family: 'Amatic SC', cursive;
    font-size: x-large;
    width: 400px;
    margin: auto;
}

.mb-3 {
    width: 400px;
}

.contForm {
    background-color: rgb(133, 133, 133);
    width: 450px;
    margin: auto auto 100px auto;
    text-align: left;

}

.carousel-inner {
    width: 500px;
    height: 600px;
    margin: auto;
}

@media (min-width: 992px) {
    .main__contenedor {
        border: 4px solid rgb(41, 40, 40);
        width: max-content;
    }

    .main__muestrasFoto {
        width: 300px;
        border: 1px dotted black;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    body {
        font-size: 14px;
    }

    .main__contenedor {
        border: 4px solid black;
        width: max-content;
    }

    .main__muestras {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-around;
        margin: 10px;
        padding: 10px;
        align-items: center;
    }

    .mainT__fotosFacial {
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 5px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 11px;
    }

    .main__ppalDiv {
        padding: 30px;
    }

    .main__contenedor {
        display: flex;
        flex-direction: column;
        width: 70%;
        transform: rotate(-15deg);
    }

    .main__muestras {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding-left: 70px;
        gap: 8px;
        transform: rotate(15deg);
    }

    .mainT__fotosFacial {
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 5px;
    }

    .tiposFaciales {
        width: 250px;
    }

    .gridMaqui {
        flex-direction: column;
        width: 250px;
        gap: 5px;
        padding: 3px;
    }
}